apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ebs-csi-default
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer