# =============================================================================
# Helm Values — RabbitMQ (bitnami/rabbitmq) — VERSÃO AWS PUBLIC ECR
# =============================================================================

global:
  security:
    allowInsecureImages: true

auth:
  username: guest
  password: "guest"

image:
  registry: public.ecr.aws
  repository: bitnami/rabbitmq
  tag: latest
  pullPolicy: Always

persistence:
  enabled: true
  size: 8Gi
  storageClass: "gp2"

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

replicaCount: 1

plugins: "rabbitmq_management rabbitmq_peer_discovery_k8s"

service:
  type: ClusterIP
  port: 5672
  managerPort: 15672

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: fcg

extraConfiguration: |
  default_vhost = /
  default_user = guest
  default_permissions.configure = .*
  default_permissions.read = .*
  default_permissions.write = .*

volumePermissions:
  enabled: false

podSecurityContext:
  fsGroup: 1001
containerSecurityContext:
  runAsUser: 1001