apiVersion: v1
kind: Service
metadata:
  name: fcg-users-api
  namespace: fcg
  labels:
    app: fcg-users
spec:
  selector:
    app: fcg-users
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: fcg-games-api
  namespace: fcg
  labels:
    app: fcg-games
spec:
  selector:
    app: fcg-games
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: fcg-payments-api
  namespace: fcg
  labels:
    app: fcg-payments
spec:
  selector:
    app: fcg-payments
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: fcg-gateway-service
  namespace: fcg 
  labels:
    app: fcg-gateway
spec:
  type: NodePort 
  selector:
    app: fcg-gateway
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080